* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* 
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  margin-left: 57px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
} */

/* html {
    box-sizing: border-box;
    font-size: 62.5%;
} */


body {
    /* font-family: "Nunito", sans-serif;
    font-weight: 300;
    background-color: #f4f2f2; */
    font-family: sans-serif;
}

.heading {
    margin-left: 2rem;
}

.top {
    font-size: 3rem;
    /* height: 7rem; */
    /* background-color: red; */
    /* background-color: #fff; */
    /* border-bottom: var(--line); */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.container {
    max-width: 156rem;
    margin: 2% 5%;
    /* background-color: #f4f2f2; */
    /* min-height: 50rem; */
    zoom: 70%;
}

.content {
    display: flex;
    flex-direction: column;
    min-width: 1300px;
}

.card {
    /* background-color: yellowgreen; */
    display: flex;
    margin-top: 2rem;
    align-items: stretch;
    /* box-shadow: 0 0 10px rgba(0, 31, 63, 0.5); */
    /* border:1px solid #ccc; */
}

.number {
    /* background-color: burlywood; */
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    background-color: #3282b8;
}
.blankspace{
    width: 15px;
}


.info {
    /* flex-wrap: wrap; */
    flex: 1;
    /* background-color: blue; */
    padding: 20px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbe1fa;
}

.details {
    display: flex;
    align-items: center;
    font-size: 25px;

    /* flex-grow: 1; */
    /* justify-content: space-between; */
}

.house {
    /* background-color: slateblue; */
    /* width: 75rem; */
    margin-right: auto;
    flex: 1;

    position: relative; 
}

.agent {
    /* background-color: pink; */
    /* justify-content: space-between; */
    width: 140px;
    height: 140px;
    overflow: hidden;
}
.agentbox{
    flex-wrap: wrap;
    flex-direction: column;
    width: 220px;
        /* margin-top: 5%; */

}

.house-img {
    /* margin: -10px 0 0px -20px; */
    /* margin-left: 1rem; */
    /* flex:1; */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* width: 350px;
    height: 230px; */
    /* box-shadow: 0 0 10px rgba(0, 31, 63, 0.8);
    border-radius: 14px; */
}


.house-properties {
    flex: 1;
    padding: 30px;
}

.agent-properties {
    /* padding-left: 4rem; */
    /* flex: 1; */
    /* padding-right: 1rem; */
    margin-top: 5%;
    font-size: 18px;
    text-align: center;
}
.agentPicDivDiv {
    flex: 1;
    text-align: center;
}

/* p {
    margin-top: 20px;
    font-size: 20px;
} */

.agent-name{
    font-size: 20px;
    font-weight: bold;
    /* font-family: "Josefin Sans", sans-serif; */
    /* font-weight: 800; */
}

.addr {
    font-size: 2rem;
    /* font-family: "Josefin Sans", sans-serif; */
    /* font-weight: 600; */
}

.agent-img{
    /* padding: 10px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-left: 20px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */

    /* object-fit: contain;

    /* margin-left: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    height: 230px; */
    border-radius: 50%;
}

.detail-room {
    font-size: 25px;
}


.house img {
    width: 20rem;
    object-fit: cover;
    height: 100%;
    
}

/* .agent img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

