:root {
  --darkPrimaryColor: #001f3f;
  --secondaryColor: #0f4c75;
  --tertiaryColor: #3282b8;
  --quaternaryColor: #bbe1fa;
  --lightPrimaryColor: #ebe9e5;
  --whiteColor: #ffffff;
  --blackColor: #000000;

  --house-color: #0288d1;
}


body {  
  color: #24252A; 
}
.agent {
  margin-left: 15px;
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fefefe;
  position: relative;   
  margin-bottom: 15px;
}

.container-description{
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fefefe;
  position: relative;   
  margin-bottom: 15px;
  padding: 15px;
}

.container-price{
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fefefe;
  position: relative;   
  margin-bottom: 15px;

}

.detail-description {
  margin-top: -10px;
}

/* Style the list */
ul.breadcrumb {
  /* padding: 10px 16px; */
  list-style: none;
  margin-left: 27px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 11px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


.content{
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-top: 50px; */
  margin-bottom: 150px;
}

.property-card a {
  text-decoration: none;
}

.property-card a:hover{
  text-decoration: underline;
}
.property-card p:hover{
  text-decoration: none;
}
.icon a{
  text-decoration: none;
}

/*
.property-img img{
  flex-direction: row;
  width: 20%;
} */

.sidebar{
  padding-top: 20px;
  flex-basis: auto;
  height: 130vh;
  /* min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  height: 100vh; */
}

.sidebar-container {
  padding-bottom: 10px;
}

#results {
  font-size: 20px;
  margin-left: 25px;
}
.compare-button {
  float: right;
  background-color: var(--darkPrimaryColor);
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.mousescroll {
  overflow: hidden;
  height: 100%;
}
.mousescroll:hover {
  overflow-y: scroll;
}

.footer-content {
  transform: translateY(100%);
  text-align: center;
}

.logo img {
  float: left;
  margin: 10px 0 0px 20px;
  height: 50px;
}

.property-card img {
  float: left;
  margin: -10px 0 0px -22px;
  padding: 10px;
  width: 180px;
  height: 130px;
}
/* .property-listing {
    display: flex;
    margin: 10px 0px 0 0;
} */
.property-card {

    width: 550px;
    height: 150px;
    margin: 10px 0 20px 20px;
    padding: 20px;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.2);
}

.property-card .address {
  color: var(--blackColor);
  font-size: 16px;
  margin-top: -18px;
}
  
.property-card .price{
    color: #24252A;
    font-size: 16px;
    font-weight: bold;
    margin-top: -12px;
}

.icon {
  font-size: 15px;
}

/* .property-listing {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
  } */

.property-card:hover {
  transition: all 0.3s ease-in-out;
  /* transform: scale(1.); */
  box-shadow: 0 0 10px rgba(0, 31, 63, 0.5);
  background-color: var(--quaternaryColor);
  cursor: pointer;
  text-decoration: underline;
}

.sidebaritem {
  width: 640px;   
}

div#sidebartitle {
  position: fixed;
  left: 25px;
  top: 85px;
}

/* save button */
.bookmark {
  border: 1px;
  color: #0f4c75;
  font-size: 25px;
  cursor: pointer;
  margin-left: 500px;
}

.bookmark:hover {
  color: #1789d4;
}

/* detail property*/
.mySlides {
  margin-top: 38px;
  display:none;
  width: 102vh;
  height: 500px;
  box-shadow: 0 0 12px rgba(0, 31, 63, 0.8);
  border-radius: 1.2%;
}
.w3-content {
  position: relative;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: var(--darkPrimaryColor);
  color: white;
  cursor: pointer;
  margin-top: 38px;
}

.button.left {
  left: 0;
}

.button.right {
  right: 0;
}

#detail {
  padding-left: 30px;
}

.detail-container {
  display: flex;
}

#detail-display {
  display: flex;
  flex-direction: column;
  width: 75vh;
  height: 40vh;
  /* border: 1px solid black; */
  margin-top: 30px;
}

.detail-price {
  color: #24252A;
  font-size: 23px;
  font-weight: bold;
}

.detail-room,
.detail-address {
  font-size: 15px;
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}
.detail-description {
  padding-top: 15px;
}
/* agent box */
.agent {
  /* margin-left: auto; */
  padding-left: 30px;
  /* border: 1px solid black; */
  margin-top: 30px;
  width: 25vh;
}
.agent-img {
  width: 100px;
  max-height: 300px;
  border-radius: 50%;
}
.contact {
  padding-top: 20px;
}
.email {
  background-color: var(--darkPrimaryColor);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.book {
  background-color: var(--darkPrimaryColor);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
